.room{
    width: 100%;
    height: 100vh;
}
.chatRoom{
    height: 100%;
    width: 100%;
    .chatHeader{
        background: white;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        display: flex;
        align-items: center;
        color: #00c4cc;
        font-weight: bold;
        justify-content: space-between;
        padding: 0 16px;
        font-size: 20px;
        height: 40px;
        border-bottom: 1px solid rgb(235, 236, 237);
        i{
            cursor: pointer;
        }
    }
    .chatList{
        list-style: none;
        padding: 0;
        margin: 0;
        padding: 0 15px;
        height: calc( 100% - 100px );
        overflow: scroll;
        & li{
            display: block;
             margin: 2px 0px;
        }
    }
    .chatBottom{
        height: 50px;
        border-top: 1px solid rgb(235, 236, 237);
        display: flex;
        align-items: center;
        padding: 0 16px;
        justify-content: space-between;
        & input{
            width: calc( 100% - 90px );
            height: 35px;
            //background: whitesmoke;
            border-radius: 30px;
            padding: 0 5px;
            outline: none;
            border: none;
        }
        & button{
            width: 35px;
            background: #00c4cc;
            border: none;
            outline: none;
            height: 35px;
            color: white;
            font-size: 14px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
        }
        & div{
            width: 25px;
            border: 1px solid #00c4cc;
            outline: none;
            height: 25px;
            color: #00c4cc;
            cursor: pointer;
            font-size: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
        }
    }
}